<!DOCTYPE html>
<html>
<head>
	<title>Bem vindo!</title>
	<link rel="stylesheet" href="/assets/bootstrap.css">
</head>
<body>
<div style="margin-top:8%">
	<%if flash[:message]%>
		<div class="alert alert-danger">
		<%=flash[:message]%>
		</div>
		<%end%>
		<%=
		form_for :authentication_log,url: "/login" do |f|
		%>
	<div class="col-sm-5 col-sm-offset-1" style="border-right:1px solid #000;">
		<br><%=f.label "Login"%>:
		<%=f.text_field :login, class: 'form-control'%>
		<br>
		<%=f.label "Senha"%>:
		<%=f.password_field :password,class: 'form-control'%>
		<br>
		<%=f.submit "Acessar", class: 'btn'%>
		</div>
		<div class="col-sm-4">
		<div class="well"><%=radio_button("authentication_log","access_type","1",checked: true)%>ADMINISTRADOR</div>
<div class="well"><%=radio_button("authentication_log","access_type","2")%>PROFESSOR</div>
<div class="well"><%=radio_button("authentication_log","access_type","3")%>ALUNO</div>
		</div>
		<%
		end
		%>
	
</div>
</body>
</html>